# General
*.log
*.class
*.pyc
*.swp
.DS_Store

# IDEs
.idea/
*.iml
*.ipr
*.iws
.atom/
.vscode/

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android
/android/app/debug/
/android/app/profile/
/android/app/release/
/app.*.symbols
/app.*.map.json

# Node
node_modules/
BackEnd/node_modules/

# Misc
migrate_working_dir/
.buildlog/
.history/
.svn/

# Specific files/folders
firebase_options.dart
Medicine-Recommendation-System-Personalized-Medical-Recommendation-System-with-Machine-Learning/app/vectorstore/db_faiss/
